apple-airport-extreme-flow.json
[
  {
    "id": "8823cdd7.d61f9",
    "type": "tab",
    "label": "Network Monitoring",
    "disabled": false,
    "info": ""
  },
  {
    "id": "6e0cdfc1.72823",
    "type": "ping",
    "z": "8823cdd7.d61f9",
    "name": "",
    "host": "www.google.com",
    "timer": "20",
    "x": 100,
    "y": 40,
    "wires": [
      [
        "932ee4f3.1bd478"
      ]
    ]
  },
  {
    "id": "932ee4f3.1bd478",
    "type": "ui_chart",
    "z": "8823cdd7.d61f9",
    "name": "",
    "group": "d2ee757c.7331a8",
    "order": 0,
    "width": 0,
    "height": 0,
    "label": "Ping Google",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "x": 270,
    "y": 40,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "efd2ac7f.b7712",
    "type": "inject",
    "z": "8823cdd7.d61f9",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 100,
    "y": 100,
    "wires": [
      [
        "571f652a.afb74c"
      ]
    ]
  },
  {
    "id": "571f652a.afb74c",
    "type": "snmp",
    "z": "8823cdd7.d61f9",
    "host": "10.0.1.1",
    "community": "public",
    "version": "2c",
    "oids": "1.3.6.1.2.1.2.2.1.16.6,1.3.6.1.2.1.2.2.1.10.6",
    "timeout": 5,
    "name": "",
    "x": 280,
    "y": 140,
    "wires": [
      [
        "e8592911.d296c8"
      ]
    ]
  },
  {
    "id": "3972a1fe.f3a7be",
    "type": "bigtimer",
    "z": "8823cdd7.d61f9",
    "outtopic": "",
    "outpayload1": "",
    "outpayload2": "",
    "name": "Big Timer",
    "comment": "",
    "lat": "43.615582",
    "lon": "-84.247215",
    "starttime": 5001,
    "endtime": 1425,
    "starttime2": 0,
    "endtime2": 0,
    "startoff": 0,
    "endoff": 0,
    "offs": 0,
    "outtext1": "",
    "outtext2": "",
    "timeout": 1440,
    "sun": true,
    "mon": true,
    "tue": true,
    "wed": true,
    "thu": true,
    "fri": true,
    "sat": true,
    "jan": true,
    "feb": true,
    "mar": true,
    "apr": true,
    "may": true,
    "jun": true,
    "jul": true,
    "aug": true,
    "sep": true,
    "oct": true,
    "nov": true,
    "dec": true,
    "day1": 0,
    "month1": 0,
    "day2": 0,
    "month2": 0,
    "day3": 0,
    "month3": 0,
    "day4": 0,
    "month4": 0,
    "day5": 0,
    "month5": 0,
    "day6": 0,
    "month6": 0,
    "d1": 0,
    "w1": 0,
    "d2": 0,
    "w2": 0,
    "d3": 0,
    "w3": 0,
    "d4": 0,
    "w4": 0,
    "d5": 0,
    "w5": 0,
    "d6": 0,
    "w6": 0,
    "xday1": 0,
    "xmonth1": 0,
    "xday2": 0,
    "xmonth2": 0,
    "xday3": 0,
    "xmonth3": 0,
    "xday4": 0,
    "xmonth4": 0,
    "xday5": 0,
    "xmonth5": 0,
    "xday6": 0,
    "xmonth6": 0,
    "xd1": 0,
    "xw1": 0,
    "xd2": 0,
    "xw2": 0,
    "xd3": 0,
    "xw3": 0,
    "xd4": 0,
    "xw4": 0,
    "xd5": 0,
    "xw5": 0,
    "xd6": 0,
    "xw6": 0,
    "suspend": false,
    "random": false,
    "repeat": true,
    "atstart": true,
    "odd": false,
    "even": false,
    "x": 100,
    "y": 160,
    "wires": [
      [],
      [
        "571f652a.afb74c"
      ],
      []
    ]
  },
  {
    "id": "e8592911.d296c8",
    "type": "function",
    "z": "8823cdd7.d61f9",
    "name": "BandwidthCalculation",
    "func": "var inputOct = msg.payload[1].value;\nvar outputOct = msg.payload[0].value;\n\nvar inputKib = inputOct * 8 / 1000;\nvar outputKib = outputOct * 8 / 1000;\n\nvar inputMb = inputKib / 1000;\nvar outputMb = outputKib / 1000;\n\nif(!flow.lastInputMb){\n    flow.lastInputMb = inputMb;\n}\n\nif(!flow.lastOutputMb) {\n    flow.lastOutputMb = outputMb;\n}\n\nvar currentInputMb = inputMb - flow.lastInputMb;\nvar currentOutputMb = outputMb - flow.lastOutputMb;\n\nif(currentInputMb < 0){\n    currentInputMb = 0;\n    flow.lastInputMb = 0;\n} else {\n    flow.lastInputMb = inputMb;    \n}\n\nif(currentOutputMb < 0){\n    currentOutputMb = 0;\n    flow.lastOutputMb = 0;\n} else {\n    flow.lastOutputMb = outputMb;    \n}\n\nvar inputMsg = { \"payload\" : currentInputMb };\nvar outputMsg = { \"payload\" : currentOutputMb };\nreturn [inputMsg, outputMsg];",
    "outputs": 2,
    "noerr": 0,
    "x": 480,
    "y": 140,
    "wires": [
      [
        "851e0ed4.e57cc"
      ],
      [
        "cbc6e397.b81f3"
      ]
    ]
  },
  {
    "id": "851e0ed4.e57cc",
    "type": "ui_chart",
    "z": "8823cdd7.d61f9",
    "name": "",
    "group": "d2ee757c.7331a8",
    "order": 4,
    "width": 0,
    "height": 0,
    "label": "Upload Mb/min hr",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": true,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "x": 690,
    "y": 120,
    "wires": [
      [
        "a66a2e9b.4a4e5"
      ],
      []
    ]
  },
  {
    "id": "cbc6e397.b81f3",
    "type": "ui_chart",
    "z": "8823cdd7.d61f9",
    "name": "",
    "group": "d2ee757c.7331a8",
    "order": 5,
    "width": 0,
    "height": 0,
    "label": "Download Mb/min hr",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": true,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "x": 700,
    "y": 160,
    "wires": [
      [
        "3cda3902.9ed1f6"
      ],
      []
    ]
  },
  {
    "id": "a66a2e9b.4a4e5",
    "type": "ui_chart",
    "z": "8823cdd7.d61f9",
    "name": "",
    "group": "d2ee757c.7331a8",
    "order": 3,
    "width": 0,
    "height": 0,
    "label": "Upload Mb/min Day",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": true,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "86400",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "x": 930,
    "y": 120,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "3cda3902.9ed1f6",
    "type": "ui_chart",
    "z": "8823cdd7.d61f9",
    "name": "",
    "group": "d2ee757c.7331a8",
    "order": 4,
    "width": 0,
    "height": 0,
    "label": "Download Mb/min Day",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": true,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "86400",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "x": 920,
    "y": 160,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "d2ee757c.7331a8",
    "type": "ui_group",
    "z": "",
    "name": "Network Monitor",
    "tab": "229fa1b0.2d1c6e",
    "disp": true,
    "width": "6",
    "collapse": true
  },
  {
    "id": "229fa1b0.2d1c6e",
    "type": "ui_tab",
    "z": "",
    "name": "Home",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  }
]